<h2>新建文章</h2>
<form action="/articles" method="post">
	<div>
		<label for="">标题</label>
		<input type="text" size="100" name="article[title]">
	</div>
	<div>
		<label for="">类别</label>
		<select name="article[category_id]">
			<% Category.all.each do |category| %>
			<option value="<%= category.id %>"><%= category.name %></option>
			<% end %>
		</select>

		<a href="/categories/new">创建类别</a>
	</div>
	<div>
		<textarea cols="80" rows="25" name="article[content]"></textarea>
	</div>
	<div>
		<input type="checkbox" name="article[posted]">公布
	</div>
	<div>
		<input type="submit" value="保存">
	</div>
</form>

<h2>最近文章</h2>
<ul>
	<% @articles.each do |article| %>
	<li>
		<a href="/articles/<%= article.slug %>.html"><%= article.title %></a> [<%= article.category.name %>] (<%= format_time article.created_at %>)
	</li>
	<% end %>
</ul>