<!DOCTYPE html>
<html>
<head>
	<title>志精科技</title>
	<meta charset="UTF-8" />
	<meta name="keywords" content="娱乐生活分享引擎,视频，悦视频，智能电视，电影，电视剧，综艺，聚合，悦享家，悦享TV，视频盒子" />
  <meta name="description" content="看你想看,轻松连接，分享生活和爱的乐趣" />
	<link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>">
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= yield :head %>
</head>
<body>
<div id="mainmenu">
	<div class="logo"><a href="/"><img src="/assets/logo.gif" alt="" class="floleft"></a></div>
	<!-- <div class="language">
		<a href="" class="active">中文</a>  |  <a href="">English</a>
	</div> -->
	<ul>
		<li>
			<%= highlight_menu_if_current "首页", about_path, 'click' %>
		</li>
		<li><%= highlight_menu_if_current "关于我们", {controller: :static, action: :about}, 'click' %>
		</li>
		<li>
			<%= highlight_menu_if_current "最新动态", {controller: :news, action: :index}, 'click' %>
		</li>
		<li>
			<%= highlight_menu_if_current "产品", product_path, 'click' %>
		</li>
		<li>
			<%= highlight_menu_if_current "商业合作", business_path, 'click' %>
		</li>
		<li>
			<%= highlight_menu_if_current "加入我们",  join_path, 'click' %>
		</li>
	</ul>
</div>
<%= yield :main %>
<div id="footer">
	 ©2012 上海志精科技版权所有
</div>
</body>
</html>